<aside class="sidebar" id="js-sidebar">
  <div class="sidebar-background" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}-large.jpeg') 2x )"></div>
  <div class="sidebar-overlay"></div>
  <div class="sidebar-wrapper">
    <nav>
      <ul>
        <li> <a href="{{ site.url }} ">INFIMATH</a> </li>
        <li>{{ page.course }}</li>
      </ul>
    </nav>
    <h1 class="sidebar-headline">Contents</h1>
    <form class="sidebar-ingredients">
      <nav>
        {% for i in site[page.collection] %}
            <li><a href="{{ site.url }}{{ i.url }}"> {{ i.title }} </a></li>
        {% endfor %}
      </nav>
      
    </form>
  </div>
</aside>
